  <!-- <button id="join-button" (click)="onJoinClick()">Join Room</button> -->
  <input type="checkbox" id="check"> 
	<label class="chat-btn" for="check" (click)="getAccessToken()">
		<img  src="../assets/instagram.gif" style="border-radius: 50%;">
	</label>
<ng-template #customLoadingTemplate>
</ng-template>
	<div *ngIf="chatButton" class="wrapper shadow-lg" #toastContainer>
    <div class="bg-image" [style.background-image]="agentImage"></div>
    <div *ngIf="loading" class="loader-content">
      <div class="loading">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4335 4335" width="100" height="100">
          <path fill="#008DD2" d="M3346 1077c41,0 75,34 75,75 0,41 -34,75 -75,75 -41,0 -75,-34 -75,-75 0,-41 34,-75 75,-75zm-1198 -824c193,0 349,156 349,349 0,193 -156,349 -349,349 -193,0 -349,-156 -349,-349 0,-193 156,-349 349,-349zm-1116 546c151,0 274,123 274,274 0,151 -123,274 -274,274 -151,0 -274,-123 -274,-274 0,-151 123,-274 274,-274zm-500 1189c134,0 243,109 243,243 0,134 -109,243 -243,243 -134,0 -243,-109 -243,-243 0,-134 109,-243 243,-243zm500 1223c121,0 218,98 218,218 0,121 -98,218 -218,218 -121,0 -218,-98 -218,-218 0,-121 98,-218 218,-218zm1116 434c110,0 200,89 200,200 0,110 -89,200 -200,200 -110,0 -200,-89 -200,-200 0,-110 89,-200 200,-200zm1145 -434c81,0 147,66 147,147 0,81 -66,147 -147,147 -81,0 -147,-66 -147,-147 0,-81 66,-147 147,-147zm459 -1098c65,0 119,53 119,119 0,65 -53,119 -119,119 -65,0 -119,-53 -119,-119 0,-65 53,-119 119,-119z"
          />
        </svg>
      </div>
    </div>
    <div *ngIf="showButton" style="z-index: 5;position: absolute; top:50%; left:40%;cursor: pointer;">
      <button (click)="callRequest()" class="btn-light"> Call Again</button>
    </div>
    
    <div class="media-container">
       <div #localMediaContainer></div>  
      <div [hidden]="screenMode" #remoteMediaContainer></div>
      <div [hidden]="!screenMode"  #remoteScreenContainer></div>
    </div>
        
			<div  style="z-index: 4;">
        <div style="position: relative;" class="top-bar">
          <i style="font-size:30px;color:white;position: absolute; top:5px;left:17px;" class="bi bi-person-circle"></i>
          <span style="font-size:18px;color:white;position: absolute; top:14px;left:58px;">{{agentName}}</span>
          <i style="font-size:32px;color:white;position: absolute; top:0px;right:10px; cursor: pointer;" (click)="removeParticipant()" class="bi bi-x"></i>
          <i *ngIf="!audioMode" style="font-size:30px;color:white;position: absolute; top:58px;right:15px"(click)="unMuteAudio()" class="fa fa-microphone-slash"></i>
          <i *ngIf="audioMode" style="font-size:30px;color:white;position: absolute; top:58px;right:15px" (click)="muteAudio()" class="fa fa-microphone"></i>
          <i *ngIf="!videoMode" style="font-size:28px;color:white; position: absolute; top:100px;right:13px" (click)="unMuteVideo()" class="bi bi-camera-video-off-fill" aria-hidden="true"></i>
          <i *ngIf="videoMode" style="font-size:28px;color:white; position: absolute; top:100px;right:13px" (click)="muteVideo()" class="bi bi-camera-video-fill" aria-hidden="true"></i>
        </div>
        <div *ngIf="!loading" class="messages-contect">
          <div class="wrapper1" #scrollBottom>
            <div class="content">
              <div *ngFor="let message of messages" class="d-flex justify-content-start">
                <div *ngIf="!message.agentName">
                  <img src="../assets/user-avatar.png"  style="border-radius: 50%;" width="30" height="30">
                </div>
                <div *ngIf="message.agentName">
                  <img [src]="avatar"  style="border-radius: 50%;" width="30" height="30">
                </div>
                <div class="msg_cotainer">
                  <h4 *ngIf="message.agentName">
                    {{message.agentName}}
                  </h4>
                  <h4 *ngIf="!message.agentName">
                    Me
                  </h4>
                  {{message.msg}}
                </div>
              </div>
            </div>
          </div> 
        </div>
        <div class="footer">
          <input class="form me-2  border" [disabled]="loading" [(ngModel)]="message" style="color:white;padding:10px;border-radius:50px;outline: none;width: 75%;background: none;border: 2px solid white !important;" type="text" placeholder="Add a Comment">
          <svg style="color: white;width: 45px;height: 43px; margin-left: 30px;"  (click)="sendMessage()" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><title>ionicons-v5-q</title><path d="M16,464,496,256,16,48V208l320,48L16,304Z" fill="white"></path></svg>
        </div>
				
			</div>
      
			<!-- <ngx-loading
        [show]="loading"
        [config]="{ backdropBorderRadius: '3px' }"
        [template]="customLoadingTemplate"
      ></ngx-loading> -->
	</div>
