  <!-- <button id="join-button" (click)="onJoinClick()">Join Room</button> -->
  <input type="checkbox" id="check"> 
	<label class="chat-btn" for="check" (click)="getAccessToken()">
		<img src="../assets/instagram.png" class="comment" style="border-radius: 50%;" width="70" height="70"> 
		<i class="fa fa-close close"></i> 
	</label>
  
<ng-template #customLoadingTemplate>
</ng-template>
	<div class="wrapper shadow-lg">
    <div class="media-container">
      <!-- <div #localMediaContainer></div>  -->
      <div #remoteMediaContainer></div>
    </div>
        
			<div *ngIf="!loading" style="position: relative;" >
        <div  style="width: 100%; height: 430px; word-wrap: break-word;position: absolute;padding:0px 10px;top: 150px; overflow-y: auto;">
          <div *ngFor="let message of messages">
            <div class="d-flex justify-content-start">
              <div class=" msg_cotainer" style="max-width: 50%;">
                {{message.state.body}}
              </div>
            </div>
          </div>
        </div>
				<i style="font-size:25px;color:black;position: absolute; top:5px;left:8px;" class="bi bi-person-circle"></i>
				<span style="font-size:20px;color:black;position: absolute; top:7px;left:42px;">User Name</span>
				<i style="font-size:32px;color:black;position: absolute; top:0px;right:10px" class="bi bi-x"></i>
				<i style="font-size:32px;color:black;position: absolute; top:50px;right:10px" class="bi bi-mic"></i>
				<i style="font-size:32px;color:black; position: absolute; top:100px;right:10px" class="bi bi-camera-video"></i>
				<input class="form me-2  border" [(ngModel)]="message" style="padding:10px;border-radius:20px;outline: none; position: absolute; top:586px;left:10px; width: 320px;" type="text" placeholder="Add a Comment....">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" (click)="sendMessage()" height="30" fill="currentColor" class="bi bi-send mt-1"  style="color:black;position: absolute; top:586px;right:10px;" viewBox="0 0 16 16">
					<path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
				</svg>
			</div>
      
			<ngx-loading
        [show]="loading"
        [config]="{ backdropBorderRadius: '3px' }"
        [template]="customLoadingTemplate"
      ></ngx-loading>
	</div>
