.msg_cotainer{
    padding: 2px 10px;
    font-size: 15px;
    color: white;
    width: 270px;
}

h4{
    margin: 0px;
    font-size: 15px;
}
.media-container {
    display: flex;
}

.footer{ 
    width: 100%;
    position: absolute;
    bottom: 10px;
    padding-left: 10px;
}

.bg-image{
    height:100%;
    width:100%;
    position:absolute;
    object-fit:cover;
    /* z-index: -1; */
    left: 0px;filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.wrapper {
    position: absolute;
    right: 5px;
    bottom: 0px;
    width: 450px;
    height: 640px;
    background-color: #ffffffe8;
    border-radius: 5px;

}

.messages-contect {
    position: absolute;
}
.wrapper1 {
    display: table-cell;
    vertical-align: bottom;
    height: 260px;
    overflow-y: scroll;
    width: 450px;
    word-wrap: break-word;
    padding:0px 10px;
  }
  .content {
    max-height: 260px;
    width:100%;
    color: white;
  }
  .wrapper1::-webkit-scrollbar {
    display: none;
  }

.top-bar{
    height: 320px;
}


@media only screen and (max-height: 760px) {
    .wrapper {
        height: 600px;
        bottom: 0px;
    }
    .top-bar{
        height: 300px;
    }
    .chat-btn {
        right: 5px;
        bottom: 0px;
        width: 60px;
        height: 60px;
    }
    .chat-btn img{
        width: 60px;
        height: 60px;
    }
    .content {
        max-height: 240px; 
    }
    .wrapper1 {
        height: 240px; 
    }
}

@media only screen and (max-height: 720px) {
    .wrapper {
        height: 550px;
        width: 400px;
        bottom: 0px;
    }
    .top-bar{
        height: 275px;
    }
    .chat-btn {
        right: 5px;
        bottom: 0px;
        width: 60px;
        height: 60px;
    }
    .content {
        width: 100%; 
        max-height: 215px; 
    }
    .wrapper1{
        height: 215px; 
    }
}
 @media only screen and (max-height: 577px) {
    .wrapper {
        height: 100vh;
        width: 400px;
        bottom: 0px;
    }
    .top-bar{
        height: 50vh;
    }
    .chat-btn {
        right: 5px;
        bottom: 0px;
        width: 60px;
        height: 60px;
    }
    .content {
        max-height: calc(50vh - 60px);
    }
    .wrapper1{
        height:calc(50vh - 60px); 
    }
} 

/* @media only screen and (max-width: 500px) {
    .wrapper {
        width: 100% !important;
        border-radius: 0px;
        left: 0px;
        height: calc(100vh);
        bottom: 0px;
    }
    .chat-btn {
        right: 5px;
        bottom: 0px;
        width: 60px;
        height: 60px;
    }
    .chat-btn img{
        width: 60px;
        height: 60px;
    }
    .content {
        max-height:calc(100vh - 211px);
    }
    .wrapper1 {
        height:calc(100vh - 211px);
    }
} */
@media only screen and (max-width: 414px) {
    .wrapper {
        width: 100% !important;
        border-radius: 0px;
        left: 0px;
        height: var(--vh);
        bottom: 0px;
    }
    .top-bar{
        height: calc(var(--vh) / 2);
    }
    .chat-btn {
        right: 5px;
        bottom: 0px;
    }
    .content {
        max-height:calc((var(--vh)/2) - 61px);
    }
    .wrapper1 {
        height:calc((var(--vh)/2) - 61px);
    }
}

@media only screen and (max-width: 390px) {
    .wrapper {
        width: 100% !important;
        border-radius: 0px;
        left: 0px;
        height: var(--vh);
        bottom: 0px;
    }
    .top-bar{
        height: calc(var(--vh) / 2);
    }
    .chat-btn {
        right: 5px;
        bottom: 0px;
    }   
    .content {
        max-height:calc((var(--vh)/2) - 61px);
    }
    .wrapper1 {
        height:calc((var(--vh)/2) - 61px);
    }
}

@media only screen and (max-width: 376px) {
    .wrapper {
        width: 100% !important;
        border-radius: 0px;
        left: 0px;
        height: var(--vh);
        bottom: 0px;
    }
    .top-bar{
        height: calc(var(--vh) / 2);
    }
    .chat-btn {
        right: 5px;
        bottom: 0px;
    }
    .content {
        max-height:calc((var(--vh)/2) - 61px);
    }
    .wrapper1 { 
        height:calc((var(--vh)/2) - 61px);
    }
    
}

.btn-light{
    background-color: beige;
    padding: 10px;
    outline: none;
    border: none;
}