
.msg_cotainer_send{
    border-radius: 18px;
    padding: 8px 16px;
    background: rgb(15 163 255);
    font-size: 20px;
    position: relative;
    color: white;
    margin-bottom: 5px;
}
.msg_cotainer{
    padding: 8px 10px;
    font-size: 20px;
    position: relative;
    color: white;
    margin-bottom: 5px;
}

h4{
    margin: 0px;
}
.media-container {
    display: flex;
}

.media-container > * + * {
    margin-left: 1.5rem;
}

.footer{ 
    width: 100%;
    position: absolute;
    bottom: 10px;
    padding-left: 10px;
}

